:root {
    --pink: #ffa8ba;
    --yellow: #faae2b;
    --orange: #fa5246;
    --tape-gray: #dbd8be;
    --tape-edge-gray: #b7b49d;
    --stroke: #00332c;
}
.home {
    width: 100vw;
    margin: 0 auto;
}
.pink {
    --paper-color: var(--pink);
    position: relative;
    background: var(--pink);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: rotate(-6deg);
}

.yellow {
    position: relative;
    background: var(--yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: rotate(10deg);
}

.pink::after {
    transform: rotate(-45deg);
}


.tape-section {
    position: absolute;
    width: 100%;
}

.tape-section:first-of-type {
    top: 0;
}

.tape-section:last-of-type {
    bottom: 0;
}

.tape-section::before, .tape-section::after {
    content: "";
    /* width: 15vmin; */
    width: 48px;
    /* height: 6vmin; */
    height: 20px;
    position: absolute;
    background-color: var(--tape-gray);
    opacity: 0.5;
    border-right: 1px dotted var(--tape-edge-gray);
    border-left: 1px dotted var(--tape-edge-gray);
}

.tape-section:last-of-type::after {
    transform: rotate(-45deg);
    right: -14px;
    bottom: 0;
}

.tape-section:first-of-type::before {
    transform: rotate(-45deg);
    left: -14px;
}

.tape-section:first-of-type::after {
    transform: rotate(45deg);
    right: -14px;
    top: 0;
}

.tape-section:last-of-type::before {
    transform: rotate(45deg);
    left: -14px;
    bottom: 0;
}

@media only screen and (min-width: 640px) {
    .tape-section::before, .tape-section::after {
        width: 72px;
        height: 28px;
    }
    .tape-section:last-of-type::after {
        right: -20px;
        bottom: 0;
    }
    
    .tape-section:first-of-type::before {
        left: -20px;
    }
    
    .tape-section:first-of-type::after {
        right: -20px;
        top: 0;
    }
    
    .tape-section:last-of-type::before {
        left: -20px;
        bottom: 0;
    }
}

@media only screen and (min-width: 1536px) {
    .tape-section::before, .tape-section::after {
        width: 112px;
        height: 40px;
    }
    .tape-section:last-of-type::after {
        right: -36px;
        bottom: 0;
    }
    
    .tape-section:first-of-type::before {
        left: -36px;
    }
    
    .tape-section:first-of-type::after {
        right: -36px;
        top: 0;
    }
    
    .tape-section:last-of-type::before {
        left: -36px;
        bottom: 0;
    }
}