@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


.App {
  background-size: 36px 36px;
  background-color: var(--background);
  background-image: radial-gradient(circle, var(--dot-grid) 1px, rgba(0, 0, 0, 0) 1px);
  font-family: 'Quicksand', sans-serif;

} 

/* * {
  border: 1px solid red;
} */

:root {
  --background: #f2f7f5;
  --main-text: #00473e;
  --p-text: #475d5b;
  --card-bg: #fffffe;
  --button-bg: #faae2b;
  --button-text: #00473e;
  --highlight: #faae2b;
  --stroke: #00332c;
  --dot-grid: rgba(0, 51, 44, 0.4);
  --secondary: #ffa8ba;
  --tertiary: #fa5246;
}

header {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
} 

h1 {
  color: var(--main-text);
}

p {
  color: var(--p-text);
  line-height: 1.5;
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  font-size: 1.25rem;
  width: 100px;
  border-radius: 2px;
  border: none;
}

a {
  text-decoration: none;
  color: var(--main-text);
}

.name-nav {
  font-weight: bold;
}

.headshot {
  border-radius: 50%;
}

a:hover {
  color: var(--secondary);
}


/* credit to https://www.happyhues.co/palettes/12 for color palette */
/* and to https://gus.biz/ for the idea */
/* and to https://stackoverflow.com/questions/3540194/how-to-make-a-grid-like-graph-paper-grid-with-just-css for the css for grid */
/* possible highlight animation https://codepen.io/alvarotrigo/pen/WNdeKQJ  */
/* another possible highlight animation simple https://codepen.io/alvarotrigo/pen/jOYNKKY  */
/* https://codepen.io/aitchiss/pen/QWKmPqx for the paper with tape css */