@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin&display=swap');

* {
  background-color: #232946;
}

.App * {
  margin: 20px;
}
.title {
  font-family: 'Libre Baskerville', serif;
}

.body {
  font-family: 'Libre Franklin', sans-serif;
}

header {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

h1 {
  color: white;
}

p {
  color: #b8c1ec;
  line-height: 1.5;
}

button {
  background-color: #eebbc3;
  color: #232946;
  font-size: 1.25rem;
  width: 100px;
  border-radius: 2px;
  border: none;
}

a {
  text-decoration: none;
  color: white;
}

.card {
  width: 24rem;
}

.card * {
  background-color: #fffffe;
}

.card-img-top {
  width: 21.5rem;
}

.card-title {
  color: #232946;
}

.card-text {
  color: #232946;
}

.card-link {
  color: #232946;
}

.headshot {
  border-radius: 50%;
}

.about {
  display: flex;
}

a:hover {
  color: #b8c1ec;
}
/* credit to https://www.happyhues.co/palettes/12 for color palette */